/*GERAL = racs.html e rac1.html ao rac10.html*/
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quando&display=swap');

/*Pages-racs - rac1.html ao rac10.html*/

#div_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-img{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#logo{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1{
    text-align: center;
}

#img_losang_rac1a10{
    width: 10%;
    padding: 2%;
}

#img_losango_racs1{
    width: 10%;
}

#div_baixar_fazerprova{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn_baixar{
    margin-right: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 18px;

}

#btn_prova{
    margin-left: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 18px;
}

#div_voltar{
    padding-top: 10%;
}

#btn_voltar{
    margin-left: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 18px;
    margin-top: 40%;
}

/* Style do formulário de checkin da prova + responsividade */
input {
    align-content: center;
    align-items: center;
    width: 90%;
}

body{
    align-items: center;
    text-align: center;
}

#submit{
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 700px){
    input {
        width: 90%;
    }

    #img_losango_racs1{
        width: 30%;
    }
}

/*Oculta checkin*/
#formProva{
    display: none;
}

/*Responsividade rac1.html ap rac10.html*/
@media(max-width:950px){
    #img_losang_rac1a10{
        width: 30%;
    }

    #btn_voltar{
        margin-top: 60px;
        border-radius: 5px;
    }

    #img_losango_racs1{
        width: 30%;
    }
}