#div-presenca{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paragrafo{
    margin-top: -15px;
}

#pag2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
