#img_losango{
    width: 50%;
}

#img_losangoA{
    width: 85%;
}

#img_losangoC{
    width: 85%;
    background-color: white;
}

#img_losangoB{
    width: 230%;
}

#img_losangoC{
    width: 30%;
}

.div_class_losangoA{
    background-color: white;
    display: none;
}

.bloco{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.bloco1{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.text{
    text-align: center;
}

.puro{
    background-color: white;
}

@media(max-width:950px){
    #img_losango{
        width: 96%;
    }
    #img_losangoA{
        width: 95%;
    }
    #img_losangoC{
        width: 85%;
    }

    .div_class_losangoA{
        width: 10%;
    }
}