/*GERAL = racs.html e rac1.html ao rac10.html*/
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quando&display=swap');

#div_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-img{
    align-items: center;
    display: flex;

}

#logo{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1{
    text-align: center;
}

/*Página racs.html*/

#img_losango_racs{
    width: 70%;
}

#img_losango_racs1{
    width: 125%;
}

.div_class_rac{
    padding: 30px;
}

.blocos{
    display: flex;
    flex-direction: column;
}
.bloco{
    display: flex;
    flex-direction: row;
}

.bloco_com_4{
    display: flex;
    flex-direction: row;
    padding-left: 8%;
    padding-right: 8%;

}

/*Páginas individuais - rac1.html ao rac10.html*/

#img_losang_rac1a10{
    width: 10%;
    padding: 2%;
}

#div_baixar_fazerprova{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn_baixar{
    margin-right: 10px;
    border-radius: 5px;
}

#btn_prova{
    margin-left: 10px;
    border-radius: 5px;
}

/*Responsividade racs.html*/
@media(max-width:690px){
    #img_losango_racs{
        width: 100%;
    }
    .blocos{
        display: flex;
        flex-direction: row;
    }
    .bloco{
        display: flex;
        flex-direction: column;
    }

    .div_class_rac{
        padding: 90px;

    }

    .bloco_com_4{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:600px){
    #img_losango_racs{
        width: 120%;
    }
    .blocos{
        display: flex;
        flex-direction: row;
    }
    .bloco{
        display: flex;
        flex-direction: column;
    }

    .div_class_rac{
        padding: 10px;
        margin: 20px;

    }


}



